<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoft.testmybatis.dao.UserMapper">
    <!--List<User> getByNameKey(String nameKey) ;-->
    <select id="getByNameKey" resultType="User">
        select * from tb_user
        <if test="nameKey != null">
            <bind name="name" value="'%'+nameKey+'%'"/>
            where name like #{name}
        </if>
    </select>

    <!--int delById(Integer id) ;-->
    <delete id="delById">
        delete from tb_user where id=#{id}
    </delete>
</mapper>